:root {
    --primary-color: #333;
    --background-color: #f5f7fa;
    --success-color: #00b900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    color: var(--primary-color);
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    background-color: var(--background-color);
    line-height: 1.5;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    margin-bottom: 16px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    margin-top: 16px;
}

main {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
}

.code-editor {
    display: flex;
    height: 100%;
    width: 50%;
    overflow: visible;
    font-family: 'Courier New', monospace;
    border: 1px solid var(--primary-color);
    position: relative;
    border-radius: 8px;
}

.code-input {
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 0;
    line-height: 1.5;
    border: none;
    outline: none;
    resize: none;
    font-size: 14px;
    font-family: 'Courier New', monospace; 
}

.line-numbers {
    font-size: 14px;
    padding: 10px 5px;
    text-align: center;
    user-select: none;
    line-height: 1.5;
    min-width: 40px;
    white-space: pre;
    overflow: hidden;
}

textarea {
    white-space: pre;
    overflow: auto;
    background-color: transparent;
    overflow-y: hidden;
} 

.header-content {
    margin-top: 10px;
}

.result-btn-container {
    position: absolute;
    right: 8px;
    top: 8px;
    bottom: 8px;
    pointer-events: none;
}

#result-btn {
    height: 30px;
    width: 30px;
    padding: 5px 5px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    outline: none;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    top: 8px;
    pointer-events: all;

    transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out;
    overflow: hidden;
}

#result-btn.clicked {
    background-color: var(--success-color);
}
#result-btn:hover.clicked {
    background-color: var(--success-color);
}

#result-btn:hover {
    background-color: #222;
    width: 145px;
}

#result-btn:hover::after {
    content: "Clear and copy";
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: white;
    white-space: nowrap;
    word-break: keep-all;

    opacity: 1; 
    transition: opacity 0.3s ease-in-out;
}

#result-btn::after {
    content: ""; 
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
}

#enter-icon {
    position: relative;
    user-select: none;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.sign, #github-link {
    margin-bottom: 20px;
}

#github-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-align: start;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 8px;
    width: 50px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, width 0.3s ease-in-out;
}

#github-link:hover {
    background-color: var(--primary-color);
    color: white;
    width: 95px;
}

#github-logo {
    opacity: 0;

    transition: opacity 0.3s ease-in-out;
}

#github-link:hover #github-logo {
    opacity: 1;
}

@media (max-width: 900px) {
    .code-editor {
        width: 90%;
    }
}
